


.tablo {
    margin-left:550px;
    margin-top:-420px;

}
.butonlar{
    margin-left:20px;
    margin-top:85px;
}
.grid2{

    margin-top:100px;
}
.hareketlerbuton{
    margin-top:125px;
    margin-left:-360px;
}
texbox{
    margin-top:5000px;
    margin-left:1000px;
}